#contact-board {
    padding-top: 20px;
}

.contact {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.contact .header {
    height: 25px;
}

.contact .main {
    height: 100px;
    border-top: 1px solid gainsboro;
}

#avatar-selector input[type="radio"] {
    display: none;
}

#avatar-selector label {
    opacity: 0.5;
}

#botan-man:checked + label,
#beard-man:checked + label,
#ginger-beard:checked + label {
    opacity: 1;
}

.icon {
    width: 64px;
    height: 64px;
    position: relative;
    margin: 0 auto;
}

.container-icon input {
    position: absolute;
}

.contact .header .controls {
    color: gainsboro;
    cursor: pointer;
}

.main span {
    padding-top: 10px;
}

.main img {
    width: 40px;
    height: 40px;
}