#contact-board {
    padding-top: 20px;
}

.contact {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}
.contact .header {
    height: 25px;
}

.contact .main {
    height: 100px;
    border-top: 1px solid gainsboro;
}
.icon-beard-man {
    background-image: url("assets/images/beard_man.png");
}

.icon-botan-man {
    background-image: url("assets/images/botan_man.png");
}

.icon-ginger-beard {
    background-image: url("assets/images/ginger_beard.png");
}

.icon {
    width: 64px;
    height: 64px;
    position: relative;
    margin: 0 auto;
}

.container-icon input {
    position: absolute;
}

.contact .header .controls {
    color: gainsboro;
    cursor: pointer;
}

.main span {
    padding-top: 10px;
}

.main img {
    width: 40px;
    height: 40px;
}